# dependencies
/node_modules
/.pnp
.pnp.js

# ignore all .env files globally
*.env

# ignore .env files in specific locations (optional but redundant with *.env)
/server/.env
/server/codes
/server/output
/server/inputFileRun

# testing
/coverage

# production
/build
/server/node_modules/

# misc
.DS_Store
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
