/* problem.css */
.problem-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.problem-List{
  height: 87vh;
  /* background-image: url(../../../Images/problempageImage.jpg); */
}
.problem-item {
  margin: 10px;
  padding: 10px;
  background-color: #f0f0f0;
  border-radius: 5px;
  display: flex;
  align-items: center;
  background-color: gray;
  border: 2px solid #333;
}

.problem-number {
  font-weight: bold;
  color: #007bff;
  margin-right: 10px;
}

.problem-name {
  text-decoration: none;
  font-size: 18px;
  color: yellow;
}
.problem-name:hover {
  color: #007bff;
}

.problem-count {
  margin-left: auto;
  font-size: 14px;
  color: #888;
}
