/* login.css */

/* Page layout */
.login-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90vh;
    /* background: linear-gradient(to right bottom, #0099cc, #33ccff); */
    /* background-image: url(../../../Images/LoginImage.jpg); */
  }
  
  .login-container {
    
    background: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    padding: 2rem;
    border-radius: 4px;
    width: 400px;
    max-width: 90%;
  }
  
  .login-title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
    text-align: center;
  }


  /* Register */

  .register-btn{
    margin-left: 25%;
  }
  
  .form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
  }
  
  .form-group label {
    font-weight: bold;
  }
  
  .form-group input {
    padding: 0.5rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .form-group input:focus {
    outline: none;
    border-color: #007bff;
  }
  
  .login-btn {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    font-weight: bold;
    color: #fff;
    background: #007bff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }
  
  .login-btn:hover {
    background-color: #0056b3;
  }